* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.father {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}

    .menu {
     background: #636e72;
     display: flex;
     flex-flow: row nowrap;
    }

        .logo {
             background: #ff7675;
             flex: 1 1 auto;
        }

        .nav {
            background: #ff7675;
            flex: 5 1 auto;
        }

        .social {
            background: #ff7675;
            flex: 1 1 auto;
        }

    .main-text {
        background: #e17055;
    }   

        h1 {
            background: #ffeaa7;
        }

.section {
    background: #000;
    display: flex;
}

    .articles {
        background: #636e72;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }

        .article {
            background: #0984e3;
            flex: 1 1 40%;
        }

        .navigation {
            background: #74b9ff;
            flex: 1 1 100%;
        }

    .aside {
        background: #ff7675;
        flex: 1 1 auto;
    }

    .publication{
        background: yellow;
    }

.footer {
    background: #000;
    display: flex;
}

    .foot {
        background: #fdcb6e;
        flex:100%;
    }

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
}

@media all and (max-width: 600px){
    .menu{
        flex-direction: column;
    }
    .articles{
            flex-direction: column;
    }
}

    